@media all {
	body>header, body>footer{display: none;}
}
#print-res header{
	text-align: center;
}
main#print-res{
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	word-wrap: break-word;
	-webkit-print-color-adjust: economy;
	-webkit-print-color-adjust: exact;
}
#print-res .stripe{
	width:100px;
	min-height: 100%;
	position: relative;
	color:#fff;
	padding: 1rem;
}
#print-res .stripe::before{
	content: '';
	background:red;
	position: absolute;
	left:0;
	right: 0;
	width:100%;
	top:0;
	bottom:0;
	z-index: -1;
}
#print-res .stripe::after{
	content: '';
	background: rgba(0,0,0,0.5);
	position: absolute;
	right:0;
	left: 50%;
	width:50%;
	top:0;
	bottom:0;
	z-index: -1;
}
#print-res .main{
	padding: 2rem;
}
#print-res section .entry{
	display: flex;
	flex-flow: row wrap;
}
#print-res h2{
	margin-top: 2rem;
	width: 100%;
	display: block;
	color:red;
}
#print-res h4, #print-res h3{
	margin-bottom: 0;
}
#print-res .left, #print-res .right{
	width: 50%;
}
#print-res .right{
	text-align: right;
}
