<div id="intro" ng-hide="loggedIn">
	<section class="hero is-primary section">
		<div class="hero-body container">
			<h1 class="title">Resumaker</h1>
			<p class="subtitle">Makes Resumes Easy!</p>
			<form id="auth" name="authform">
				<fieldset class="field columns">
					<div class="control column is-half">
						<input type="email" id="email-field" name="email" placeholder="email" class=" input" ng-model="email" />
					</div>
					<div class="control column is-half">
						<input type="password" minlength="4" placeholder="password" ng-model="password" class="input" />
					</div>
				</fieldset>
				<fieldset class="field is-grouped is-grouped-right">
					<p class="control">
						<label for="auth-signin" class="radio">
							<input type="radio" id="auth-signin" name="auth-action" value="signin" ng-model="action"> Sign Up</label>
						<label for="auth-login" class="radio">
							<input type="radio" id="auth-login" name="auth-action" value="login" ng-model="action"> Log In</label>
					</p>
					<p class="control">
						<input type="submit" value="submit" id="auth-btn" name="auth-btn-field" class="button" ng-click="loadUser(email,password, action)">
					</p>
				</fieldset>
			</form>
		</div>
	</section>
	<section class="section container">
		<div class="columns content">
			<div class="column is-two-thirds">
				<h2>How it Works</h2>
				<p>Resumaker makes building resumes easy; you can have a professional resume ready in minutes in 4 simple steps:</p>
				<ol>
					<li>Sign up for a free account</li>
					<li>Fill out your profile</li>
					<li>Choose a template</li>
					<li>Print your resume!</li>
				</ol>
			</div>
			<div class="column is-one-third">
				<figure>
					<img src="imgs/curriculum2.svg" alt="flat icon of a customized resume">
					<figcaption>
						<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
					</figcaption>
				</figure>
			</div>
		</div>
	</section>
</div>
<div id="dash" class="container" ng-show="loggedIn">
	<div class="columns">
		<aside class="menu column is-one-quarter" ng-model="currentUser">
			<img src="imgs/user.svg" class="is-square user-avatar" alt="user avatar; icon made by freepik @ flaticon.com">
			<p class="menu-label" >Welcome {{currentUser.u_fname}} {{currentUser.u_lname}}</p>
			<ul class="menu-list">
				<li><a href="#/me" class="is-primary" >View/Edit your Profile</a></li>
			</ul>
		</aside>
		<section id="dash-wrap" class="column is-three-quarters ">
			<div id="resume-box" class="box is-light">
				<h2 class="is-h2 title">Your Resumes</h2>
				<ul id="current-resumes" class="none column">
					<li clas="none">You have no resumes yet!</li>
				</ul>
				<div class="level field is-grouped is-grouped-centered">
					<div class="control">
						<a href="#/resume" class="button is-primary" id="add-resume"><i class="fa fa-plus" aria-label=""> Create New Resume</i></a>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
