<section id="builder"  class="container content invalid">
	<h1 class="is-h1 title">Create a Resume</h1>
	<h2 class="is-h2">Choose A Color</h2>
	<div id="color-picker" class="level ">
		<div class="button level-item is-primary is-outlined" value="primary">aqua</div>
		<div class="button level-item is-link" value="link">cerulean</div>
		<div class="button level-item is-info" value="info">sky</div>
		<div class="button level-item is-success" value="lime">lime</div>
		<div class="button level-item is-warning" value="warning">dandelion</div>
		<div class="button level-item is-danger" value="danger">tomato</div>
	</div>
	<h2 class="is-h2">Choose a template:</h2>
	<div class="columns is-light padding">
		<a class="column res-template"><img src="imgs/resume-serif.png" alt="resume preview"></a>
		<a class="column res-template"><img src="imgs/resume-icons.png" alt="resume preview"></a>
		<a class="column res-template"><img src="imgs/resume-thin-stripe.png" alt="resume preview"></a>
		<a class="column res-template"><img src="imgs/resume-thick-stripe.png" alt="resume preview"></a>

	</div>
</section>
<section id="print-res" class="container content">
	<link rel="stylesheet" href="css/resume-thick-stripe.css">
	<div class="stripe"  ng-model="currentUser">
		<div class="initials"><p>{{currentUser.u_fname[0]+currentUser.u_lname[0]}}<p></div>
	</div>
	<div class="main">
		<header ng-model="currentUser">
			<h1>{{currentUser.u_fname}} {{currentUser.u_lname}}</h1>
			<div class="contact">
				{{currentUser.address}}, {{currentUser.city}}, {{currentUser.state}}, {{currentUser.zip}} |  {{currentUser.phone}} | {{currentUser.email}}
			</div>
		</header>
		<section class="education" ng-model="userDetails">
			<h2>Education</h2>
			<div class="school entry">
				<div class="left">
					<h3>{{userDetails.education.school_name}}</h3>
					<p class="school-facts">{{userDetails.education.city}}, {{userDetails.education.state}}</p>
				</div>
				<div class="right">
					<h4 class="degree-facts">{{userDetails.education.degree}}</h4>
					<p class="dates">{{userDetails.education.edu_start | date: 'MMMM, yyyy'}} - {{userDetails.education.edu_end}}</p>
				</div>
				<div class="full">
					<ul>
						<li>{{userDetails.education.achieve_1}}</li>
						<li>{{userDetails.education.achieve_2}}</li>
						<li>{{userDetails.education.achieve_3}}</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="work" ng-model="userDetails">
			<h2>Employment History</h2>
			<div class="job entry">
				<div class="left">
					<h3>{{userDetails.company.comp_name}}</h3>
					<p class="school-facts">{{userDetails.company.city}}, {{userDetails.company.state}}, {{userDetails.company.country}}</p>
				</div>
				<div class="right">
					<h4 class="degree-facts">{{userDetails.role.role_title}}</h4>
					<p class="dates">{{userDetails.role.role_start}} - {{userDetails.role.role_end}}</p>
				</div>
				<div class="full">
					<p class="duties">{{userDetails.role.role_explain}}</p>
					<ul>
						<li>{{userDetails.role.point_1}}</li>
						<li>{{userDetails.role.point_2}}</li>
						<li>{{userDetails.role.point_3}}</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="skills"  ng-model="userDetails">
			<h2>Skills</h2>
			<p>{{userDetails.skills.skills}}</p>
		</section>
	</div>
</d>
