<section id="builder"  class="container content">
	<h1 class="is-h1 title">Create a Resume</h1>
	<h2 class="is-h2">Choose A Color</h2>
	<div id="color-picker" class="level ">
		<div class="button level-item is-primary">aqua</div>
		<div class="button level-item is-link">cerulean</div>
		<div class="button level-item is-info">sky</div>
		<div class="button level-item is-success">lime</div>
		<div class="button level-item is-warning">dandelion</div>
		<div class="button level-item is-danger">tomato</div>
	</div>
	<h2 class="is-h2">Choose a template:</h2>
	<div class="columns is-light padding">
		<a class="column res-template"><img src="imgs/resume-serif.png" alt="resume preview"></a>
		<a class="column res-template"><img src="imgs/resume-icons.png" alt="resume preview"></a>
		<a class="column res-template"><img src="imgs/resume-thin-stripe.png" alt="resume preview"></a>
		<a class="column res-template"><img src="imgs/resume-thick-stripe.png" alt="resume preview"></a>

	</div>
</section>
<section id="print-res" class="container content">
	<link rel="stylesheet" href="css/resume-thick-stripe.css">
	<div class="stripe"  ng-model="currentUser">
		<div class="initials">{{currentUser.u_fname[0]+currentUser.u_lname[0]}}</div>
	</div>
	<div class="main">
		<header ng-model="currentUser">
			<h1>{{currentUser.u_fname}} {{currentUser.u_lname}}</h1>
			<div class="contact">
				{{currentUser.address}}, {{currentUser.city}}, {{currentUser.state}}, {{currentUser.zip}} |  {{currentUser.phone}} | {{currentUser.email}}
			</div>
		</header>
		<section class="education" ng-model="school">
			<h2>Education</h2>
			<div class="school entry">
				<div class="left">
					<h3>{{school.school_name}}</h3>
					<p class="school-facts">{{school.city}}, {{school.state}}</p>
				</div>
				<div class="right">
					<h4 class="degree-facts">{{school.degree}}</h4>
					<p class="dates">{{school.edu_start}} - {{school.edu_end}}</p>
				</div>
				<div class="full">
					<ul>
						<li>{{school.achieve_1}}</li>
						<li>{{school.achieve_2}}</li>
						<li>{{school.achieve_3}}</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="work">
			<h2>Employment History</h2>
			<div class="job entry">
				<div class="left">
					<h3>{{job.company.comp_name}}</h3>
					<p class="school-facts">{{job.company.city}}, {{job.company.state}}, {{job.company.country}}</p>
				</div>
				<div class="right">
					<h4 class="degree-facts">{{job.role.role_title}}</h4>
					<p class="dates">{{job.role.role_start}} - {{job.role.role_end}}</p>
				</div>
				<div class="full">
					<p class="duties">{{job.role.role_explain}}</p>
					<ul>
						<li>{{job.role.point_1}}</li>
						<li>{{job.role.point_2}}</li>
						<li>{{job.role.point_3}}</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="skills" ng-model="skills">
			<h2>Skills</h2>
			<p>{{skills}}</p>
		</section>
	</div>
</d>
